

header{
  height: 100px;
  background-color: gray;
  border: 0.25rem solid white;
}

nav{
  background-color: gray;
  height: 50px;
  border: 0.25rem solid white;
}

section{
  height: 500px;
  background-color: gray;
  border: 0.25rem solid white;
  display: inline-block;
  width: 20%;
  margin: 1px;
}

main{
  height: 500px;
  background-color: gray;
  border: 0.25rem solid white;
  position: relative;
  display: inline-block;
  width: 58%;
}

footer{
  height: 75px;
  background-color: gray;
  border: 0.25rem solid white;
}
p{
  text-align: center;
  border: 1px solid black;
} 

.div-1 {
  height: 180px;
}
.paragraph {
  float: left;
}

.img-1 {
  width: 150px;
  height: 150px;
  float: right;
}

.p-2 {
  clear: both;
}

.div-column {
  position: relative;
}

.col{
  width: 100px;
  height: 150px;
  position: absolute;
}

.col-{
  left: 0;
}

.col-2{
  left: 33.33%;
}

.col-3{
  left: 66.66%;
}

