

header{
  height: 100px;
  background-color: gray;
  border: 0.25rem solid white;
}

nav{
  background-color: gray;
  height: 50px;
  border: 0.25rem solid white;
  position: sticky;
}

section{
  height: 500px;
  background-color: gray;
  border: 0.25rem solid white;
  display: inline-block;
  width: 20%;
  margin: 1px;
}

main{
  height: 500px;
  background-color: gray;
  border: 0.25rem solid white;
  position: relative;
  display: inline-block;
  width: 58%;
}

footer{
  height: 75px;
  width: 100%;
  background-color: gray;
  border: 0.25rem solid white;
  position: relative;
  top: 200px;
}
p{
  text-align: center;
  border: 1px solid black;
} 

.div-1 {
  height: 180px;
}
.paragraph {
  float: left;
}

.img-1 {
  width: 150px;
  height: 150px;
  float: right;
}

.p-2 {
  clear: both;
}

.div-column {
  position: relative;
}

.col{
  width: 100px;
  height: 150px;
  position: absolute;
}

.col-{
  left: 0;
}

.col-2{
  left: 33.33%;
}

.col-3{
  left: 66.66%;
}

.square {
  border: 5px solid rgb(156, 0, 253);
  width: 25rem;
  height: 25rem;
  position: fixed;
  bottom: 0;
  left: 10px;
}

.card {
  border: solid black;
  width: 200px;
  height: 350px;
  position: relative;
  margin-left: 89%;
}
.card-image {
  position: relative;
  color: aliceblue;
}
.close-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  /* Altri stili per l'icona "X" */
}

img {
  width: 200px;
  height: 200px;
}

