$color-primary: #ff0000;
$color-secondary: #00ff00;
$color-tertiary: #000000;
$background-light: #c3fefb;
$background-dark: #000000;
$font_dark: #ffffff;
$hover_font: #ffea00;
$background_div: #803697;