
$color-primary: #ff0000;
$font-size: 18px;

.bg-grey {
   background-color: #e7e7e7;
}

nav {
   ul {
      display: flex;
      list-style: none;
      margin: 0;
      padding: 0;
      justify-content: center;
      li {
         margin-right: 20px;
         a {
            text-transform: uppercase;
            text-decoration: none;
            color: black;
            font-size: $font-size;
            &:hover {
               color: $color-primary;
            }
         }
         
         &:nth-child(4){
            border: 1px solid;
            border-color: #333333;
            @extend .bg-grey;
         }
      }

   }
}