@import "functon";
@import "color";

$font-size: 18px;
$noHover: false;


.bg-grey {
  background-color: #e7e7e7;
}

.div_box {
  width: 200px;
  height: 200px;
  border: 1px solid;
  margin: 20px;
  font-size: da-px-a-em(30px, $font-size);
}


@mixin theme_mode($theme_color, $font_color, $font_hover) {
  background-color: $theme_color;

  a {
    @if $noHover == false {
      color: $font_color;
      &:hover {
        color: $font_hover;
      }
    } @else {
      color: $font_color;
    }
  }
}

.dark_mode {
  @include theme_mode($background-dark, $font_dark, $hover_font);
}
.light_mode {
  @include theme_mode($background-light, $color-tertiary, $color-primary);
}

* {
  display: flex;
  flex-direction: column;
}

nav {
  border: 1px solid $color-secondary;
 // @extend .dark_mode;
  ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin: 0;
    padding: 0;
    justify-content: center;
    li {
      width: 25%;
      margin-right: 20px;
      a {
        text-transform: uppercase;
        text-decoration: none;
        // color: black;
        font-size: da-px-a-em(18px, $font-size);
        //  &:hover {
        //  color: $color-primary;
        //   }
      }

      &:nth-child(4) {
        border: 1px solid;
        border-color: #333333;
        @extend .bg-grey;
      }
    }
  }
}
main {
  section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    div {
      @extend .div_box;
      &:nth-child(1) {
        width: larghezza-terzo(600px);
      }
      &:nth-child(2) {
        width: 100%;
      }
    }
  }
}
