
#p_1{
    color: rgb(255, 0, 0);
} 

#p_2{
    color: #ff0000;
}

div p {
    color: rgba(255, 0, 0, 0.7);
}

#p_3{
    color: red;
}

.pixel_test{
  border: 5px solid ; 
  width: 500px;
  height: 500px; 
}

.test_percentuale{
    margin-left: 10px;
    border: 5px solid;
    width: 20%;
    height: 20%;
}
.div_p1{
    font-size: 7rem;
}
.div_2{
    font-size: 7em;
}